#chatContainer {
    display: flex;
    flex-direction: column;
    height: calc(100% - 70px);
    position: relative;
}

#chatHeader {
    background-color: burlywood;
    height: 30px;
}

#chatConversation {
    background-color: rgba(240, 240, 240, 1);
    position: relative;
    flex-grow: 1;
}


#editor {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    background-color: rgba(25, 25, 220, 0.5);
    padding: 10px;
    /*position: absolute;
    bottom: 0px;*/
    width: calc(100% - 20px);
    border-radius: 0 0 5px 5px;
}

#editor>div {
    width: 100%;
    margin: 0 10px 0 0;
    background-color: white;
    border-radius: 5px;
        
}

#textarea {
    border: 1px solid gray;
    font-family: inherit;
    font-size: inherit;    
    font-size: large;    
    padding: 1px 6px;
    border: 0;
}

#sendButton {
    width: auto;
    height: 25px;
    border-radius: 5px;
    border: 0;
    box-shadow: 0 0 3px black;
}